#qgoogle-result {
    position: absolute;
    top: 140px;
    padding: 20px;
    width: 80%;
    margin: auto;
    background: #fff;
    font-size: 80%;
}

#qgoogle-result h3 {
    font-size: 100%;
}

#qgoogle-result p {
}

#qgoogle-result a {
}